<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= image_tag 'folder.png', :class => "icon-title" %>
      Movimiento diario de caja
    </h1>
  </div>
</div>
<div class="row r-calendar">
  <div class="btn-group months-group" data-toggle="buttons">
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="1">ENE
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="2">FEB
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="3">MAR
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="4">ABR
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="5">MAY
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="6">JUN
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="7">JUL
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="8">AGO
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="9">SET
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="10">OCT
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="11">NOV
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-mon" type="checkbox" value="12">DIC
    </label>
  </div>
</div>
<div class="row r-calendar">
  <div class="btn-group days-group" data-toggle="buttons">
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="1">01
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="2">02
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="3">03
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="4">04
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="5">05
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="6">06
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="7">07
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="8">08
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="9">09
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="10">10
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="11">11
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="12">12
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="13">13
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="14">14
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="15">15
    </label>
  </div>
</div>
<div class="row r-calendar">
  <div class="btn-group days-group" data-toggle="buttons">
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="16">16
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="17">17
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="18">18
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="19">19
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="20">20
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="21">21
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="22">22
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="23">23
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="24">24
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="25">25
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="26">26
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="27">27
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="28">28
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="29">29
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="30">30
    </label>
    <label class="btn btn-outline btn-info">
      <input class="chbx-day" type="checkbox" value="31">31
    </label>
  </div>
</div>
<div class="row r-calendar">
  <div class="btn-group" data-toggle="buttons">
  </div>
</div>
<div id="tab_box_cont">
</div>
<div class="row" style="text-align: center">
  <h2>BALANCE</h2>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= link_to 'Centro de costo' %></th>
        <th><%= link_to 'ENTRADA $'       %></th>
        <th><%= link_to 'SALIDA $'        %></th>
        <th><%= link_to 'TOTAL $'         %></th>
        <th><%= link_to 'ENTRADA U$S'     %></th>
        <th><%= link_to 'SALIDA U$S'      %></th>
        <th><%= link_to 'TOTAL U$S'       %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Parking</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Taller</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Lavadero</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Chapa y Pintura</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Ventas Autos</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Administración</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Competición</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr >
        <td>TOTALES:</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="option-links">
  <%= link_to (image_tag 'new.png', :class => "medium-icon", :title => "Nuevo"), new_box_movement_path, :class => "new_box_movement" %>
  <%= link_to 'Nuevo Movimiento', new_box_movement_path, :class => "new_box_movement" %>
</div>
<div class="row">
</div>
