<div class="form-group">
  <%= vehicle.label :brand, :class => "col-sm-3 control-label" %>
  <div class="col-xs-6">
    <%= vehicle.text_field :brand, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= vehicle.label :model, :class => "col-sm-3 control-label" %>
  <div class="col-xs-6">
    <%= vehicle.text_field :model, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= vehicle.label :displacement, :class => "col-sm-3 control-label" %>
  <div class="col-xs-6">
    <%= vehicle.text_field :displacement, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= vehicle.label :year, :class => "col-sm-3 control-label" %>
  <div class="col-xs-6">
    <%= vehicle.text_field :year, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= vehicle.label :plate, :class => "col-sm-3 control-label" %>
  <div class="col-xs-6">
    <%= vehicle.text_field :plate, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= vehicle.label :color, :class => "col-sm-3 control-label" %>
  <div class="col-xs-6">
    <%= vehicle.text_field :color, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= vehicle.label :chassis_number, :class => "col-sm-3 control-label" %>
  <div class="col-xs-6">
    <%= vehicle.text_field :chassis_number, :class => "form-control" %>
  </div>
</div>

