<div class="form-group">
  <%= f.label :brand, :class => "col-sm-3 control-label" %>
  <div class="col-xs-8">
    <%= f.text_field :brand, :class => "form-control" %>
    <%= f.semantic_errors :brand %>
  </div>
</div>
<div class="form-group">
  <%= f.label :model, :class => "col-sm-3 control-label" %>
  <div class="col-xs-8">
    <%= f.text_field :model, :class => "form-control" %>
    <%= f.semantic_errors :model %>
  </div>
</div>
<div class="form-group">
  <%= f.label :displacement, :class => "col-sm-3 control-label" %>
  <div class="col-xs-8">
    <%= f.text_field :displacement, :class => "form-control" %>
    <%= f.semantic_errors :displacement %>
  </div>
</div>
<div class="form-group">
  <%= f.label :year, :class => "col-sm-3 control-label" %>
  <div class="col-xs-8">
    <%= f.text_field :year, :class => "form-control" %>
    <%= f.semantic_errors :year %>
  </div>
</div>
<div class="form-group">
  <%= f.label :plate, :class => "col-sm-3 control-label" %>
  <div class="col-xs-8">
    <%= f.text_field :plate, :class => "form-control" %>
    <%= f.semantic_errors :plate %>
  </div>
</div>
<div class="form-group">
  <%= f.label :color, :class => "col-sm-3 control-label" %>
  <div class="col-xs-8">
    <%= f.text_field :color, :class => "form-control" %>
    <%= f.semantic_errors :color %>
  </div>
</div>
<div class="form-group">
  <%= f.label :chassis_number, :class => "col-sm-3 control-label" %>
  <div class="col-xs-8">
    <%= f.text_field :chassis_number, :class => "form-control" %>
    <%= f.semantic_errors :chassis_number %>
  </div>
</div>
<%= link_to_remove_association "borrar", f %>

