<div class="nested-fields nest-veh">
  <div class="form-group <%= "has-error" if @customer.errors[:"vehicles.car_brand"].any? %>">
    <%= f.label :car_brand, :class => "col-sm-4 control-label" %>
    <div class="col-xs-8">
      <%= f.collection_select(:car_brand_id, @car_brands, :id, :name, {:include_blank => 'Seleccione..'}, {:class => 'form-control collection-brand'} ) %>
      <% @customer.errors[:"vehicles.car_brand"].each do |message| %>
        <span class="span-err">
          <i class="fa fa-exclamation-triangle"></i>
          <%=  message %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="form-group <%= "has-error" if @customer.errors[:"vehicles.model"].any? %>">
    <%= f.label :model, :class => "col-sm-4 control-label" %>
    <div class="col-xs-8">
      <%= f.text_field :model, :class => "form-control" %>
      <% @customer.errors[:"vehicles.model"].each do |message| %>
        <span class="span-err">
          <i class="fa fa-exclamation-triangle"></i>
          <%=  message %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :displacement, :class => "col-sm-4 control-label" %>
    <div class="col-xs-8">
      <%= f.text_field :displacement, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :year, :class => "col-sm-4 control-label" %>
    <div class="col-xs-8">
      <%= f.text_field :year, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group <%= "has-error" if @customer.errors[:"vehicles.plate"].any? %>">
    <%= f.label :plate, :class => "col-sm-4 control-label" %>
    <div class="col-xs-8">
      <%= f.text_field :plate, :class => "form-control" %>
      <% @customer.errors[:"vehicles.plate"].each do |message| %>
        <span class="span-err">
          <i class="fa fa-exclamation-triangle"></i>
          <%=  message %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="form-group <%= "has-error" if @customer.errors[:"vehicles.color"].any? %>">
    <%= f.label :color, :class => "col-sm-4 control-label" %>
    <div class="col-xs-8">
      <%= f.text_field :color, :class => "form-control" %>
      <% @customer.errors[:"vehicles.color"].each do |message| %>
        <span class="span-err">
          <i class="fa fa-exclamation-triangle"></i>
          <%=  message %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :chassis_number, :class => "col-sm-4 control-label" %>
    <div class="col-xs-8">
      <%= f.text_field :chassis_number, :class => "form-control" %>
    </div>
  </div>
  <%= link_to_remove_association f, data: {:confirm => 'seguro quiere borrar?'}, class: '' do %>
    borrar
  <% end -%>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(".collection-brand").chosen({
     width: "100%"
    });
  });
</script>
