<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= image_tag 'customers.png', :class => "icon-title" %>
      Clientes
    </h1>
  </div>
</div>

<table id="customers_table" class="table table-hover" >
  <thead>
    <tr>
      <th><%= link_to 'id', '#'           %></th>
      <th><%= link_to 'Propietario', '#'  %></th>
      <th><%= link_to 'Razon Social', '#' %></th>
      <th><%= link_to 'Rut', '#'          %></th>
      <th><%= link_to 'Tel/Cel', '#'      %></th>
      <th><%= link_to 'Dirección', '#'    %></th>
      <th><%= link_to 'Email', '#'        %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer|%>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.owner %></td>
        <td><%= customer.invoice_name %></td>
        <td><%= customer.rut %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.address %></td>
        <td><%= customer.email %></td>
        <td><%= link_to (image_tag 'show.png', :class => "small-icon", :title => "Ver"), customer_path(customer) %></td>
        <td><%= link_to (image_tag 'edit.png', :class => "small-icon", :title => "Editar"), edit_customer_path(customer) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<div class="option-links">
  <%= link_to (image_tag 'new.png', :class => "medium-icon", :title => "Nuevo"), new_customer_path, :class => "new_customer" %>
  <%= link_to 'Nuevo Cliente', new_customer_path, :class => "new_customer" %>
</div>
<div class="row">
</div>

