<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= image_tag 'new.png', :class => "icon-title" %>
      Nuevo Cliente
    </h1>
  </div>
</div>

<%= semantic_form_for(@customer, :html => { :class => "form-horizontal my-form", :role => "form" }) do |f| %>
  <div class="form-group">
    <%= f.label :owner, :class => "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :owner, :class => "form-control" %>
      <%= f.semantic_errors :owner %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :invoice_name, :class => "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :invoice_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rut, :class => "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :rut, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :phone, :class => "form-control" %>
      <%= f.semantic_errors :phone %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :address, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :vehicles, :class => "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <fieldset id="vehicles-list">
        <ol>
          <%= f.fields_for :vehicles do |vehicle| %>
            <%= render 'vehicle_fields', f: vehicle %>
          <% end %>
        </ol>
        <%= link_to_add_association 'agregar vehículo', f, :vehicles, 'data-association-insertion-node' => "#vehicles-list ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|vehicle| vehicle; vehicle } %>
      </fieldset>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to "Cancelar", customers_path(), class: "btn btn-outline btn-danger" %>
      <%= f.submit "Guardar ", :class =>  "btn btn-outline btn-success" %>
    </div>
  </div>

<% end %>
