<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Ayuda - Alta Orden de Trabajo
    </h1>
  </div>
</div>
<div class="help-container">
  <h3>Paso 1 - Ingresar al formulario</h3>
  <p>Para dar de alta una Orden se puede ingresar por tres lugres.</p>
  <div class="row">
    <div class="col-lg-4 center-text">
      <%= image_tag 'new_wo_menu.png', class: "image-help-1" %>
    </div>
    <div class="col-lg-4 center-text">
      <%= image_tag 'new_wo_icon.png', class: "image-help-2" %>
    </div>
    <div class="col-lg-4 center-text">
      <%= image_tag 'new_wo_btn.png', class: "image-help-3" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 center-text">
      <p>diríjase al menú sobre la izquierda bajo el titulo de Ordenes de Trabajo se encuentra un sub ítem <%= link_to "+ Nuevo", new_work_order_path() %></p>
    </div>
    <div class="col-lg-4 center-text">
      <p>En el escritorio localizara el icono Nuevo Trabajo</p>
    </div>
    <div class="col-lg-4 center-text">
      <p>diríjase a la lista de Ordenes (léase: <%= link_to help_index_work_orders_path() do %><i> Listar Ordenes</i><% end -%>) eh ingrese apretando el botón Nuevo Trabajo</p>
    </div>
  </div>

  <h3>Paso 2 - Completar los datos </h3>
  <p>Al ingresar al formulario de alta de Cliente, necesita completar los siguientes datos:
  <div class="col-lg-12">
    <%= image_tag 'wo_form.png', class: "image-help-4" %>
    <ul class="list-customer-fields">
      <li>
        <strong>(*)Número</strong>
        Será el numero de la orden. Se auto incrementa en 1 y ya viene cargado.
      </li>
      <li>
        <strong>(*)Fecha Ingreso</strong>
        Fecha que ingreso el vehículo. Esta precargada con la fecha del día.
      </li>
      <li>
        <strong>Fecha Entrega</strong>
        Fecha prometido entrega.
      </li>
      <li>
        <strong>(*)Recibido por</strong>
        Nombre del empleado que recibió  la orden.
      </li>
      <li>
        <strong>(*)asignado a</strong>
        Nombre del empleado que le es asignado la orden. Se selecciona de una lista.
      </li>
      <li>
        <strong>(*)Ingreso:</strong>
        Problema con el que ingresa el vehículo. Se pueden agregar tantos como dese, haciendo clic en "Agregar Ingreso".
      </li>
      <li>
        <strong>(*)Cliente:</strong>
        Nombre del cliente.
      </li>
      <li>
        <strong>(*)Vehículo:</strong>
        Lista de los vehículos del cliente seleccionado.
      </li>
      <li>
        <strong>(*)km:</strong>
        Kilómetros del vehículo al ingresar la orden.
      </li>
      <li>
        <strong>(*)Comb.:</strong>
        Combustible del vehículo al ingresar la orden.
      </li>
      <li>
        <strong>Detalles del auto:</strong>
        Detalles que contiene el vehículo al ingresar.
      </li>
      (*) Campos Obligatorios
    </ul>
  </div>

  <h3>Paso 3 - Guardar </h3>
  <p>Luego de completar los datos de la orden, se procede a guardar haciendo clic en el botón Guardar situado abajo del formulario. Si no desea guardar puede cancelar la operación haciendo clic en el botón Cancelar.</p>
  <%= image_tag 'cancel_save_buttons.png', class: "image-help-6" %>
  <div class="col-lg-12">
    <p>Se presiona el botón guardar y se realizarán las validaciones correspondiente. En caso de que faltara algún dato obligatorio se marcara con rojo y se mostrara una breve explicación del problema sobre el campo en cuestión.</p>
    <%= image_tag 'fail_form_wo.png', class: "image-help-4" %>
    <p>Se procede a corregir el error y se presiona nuevamente Guardar.</p>
  </div>
  <div style="text-align: center; margin-top: 20px;" class="col-lg-12">
    <p>Si esta todo correctamente ingresado se guardara la orden y se mostrara los datos en pantalla con un aviso que fue guardado con éxito</p>
    <%= image_tag 'wo_saved.png', class: "image-help-17" %>
  </div>
  <div class="row"></div>
</div>
<div style="height: 20px"></div>

