<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Ayuda - Buscar y Ver una Orden de Trabajo
    </h1>
  </div>
</div>
<div class="help-container">
   <h3>Paso 1 - Ingresar a la Lista de Ordenes </h3>
  <p>Para ver la lista de ordenes diríjase al menú sobre la izquierda bajo el titulo de Ordenes de trabajo se encuentra un sub ítem <%= link_to "Lista", work_orders_path() %>.</p>
  <div class="row">
    <div class="col-lg-4 center-text">
      <%= image_tag 'wo_list_menu.png', class: "image-help-9" %>
    </div>
  </div>


  <h3>Paso 2 - Ingresar a ver la Orden </h3>
  <p>Al ingresar a la lista de Ordenes, se desplegara una tabla con los datos y las acciones:
  <div class="col-lg-12">
    <%= image_tag 'wo_index.png', class: "image-help-10" %>
  </div>
  <div style="margin-top: 12px; " class="col-lg-12">
    <p>Identifique la orden o búsquelo mediante el campo de situado arriba a la derecha.</p>
    <p>En la última columna de la tabla aparecerán dos iconos <%= image_tag 'show.png', :class => "small-icon" %> y <%= image_tag 'edit.png', :class => "small-icon" %></p>
    <p> Presionando el botón Ver <%= image_tag 'show.png', :class => "small-icon" %> se mostrarán los  datos de la orden.</p>
    <%= image_tag 'show_wo.png', class: "image-help-23" %>
  </div>

  <h3>Paso 3 - Acciones </h3>
  <p> Abajo del los datos de la orden se puede observar dos acciones. Atrás, Editar, Imprimir, Presupuesto y Entregar </p>
  <%= image_tag 'show_accion_wo.png', class: "image-help-14" %>
  <p>Atrás: Retrocede a la lista de ordenes</p>
  <p>Editar: Ingresa al formulario para editar la orden. (léase: <%= link_to help_edit_work_order_path() do %> <i>Editar</i> <% end -%>) </p>
  <p>Imprimir: Imprimir la orden (léase: <%= link_to help_print_work_order_path() do %> <i>Imprimir </i> <% end -%>)</p>
  <p>Presupuesto: Presupuesto de la orden (léase: <%= link_to help_budget_work_order_path() do %> <i>Presupuesto</i> <% end -%>)</p>
  <p>Entregar: Entregar la orden. (léase: <%= link_to help_deliver_work_order_path() do %> <i>Entregar</i> <% end -%>)</p>
  <div class="row"></div>
</div>
<div style="height: 20px"></div>
