<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Ayuda - Alta Clientes
    </h1>
  </div>
</div>

<div class="help-container">
  <h3>Paso 1 - Ingresar al formulario</h3>
  <p>Para dar de alta un cliente se puede ingresar por tres lugres.</p>
  <div class="row">
    <div class="col-lg-4 center-text">
      <%= image_tag 'new_client.png', class: "image-help-1" %>
    </div>
    <div class="col-lg-4 center-text">
      <%= image_tag 'new_client_icon.png', class: "image-help-2" %>
    </div>
    <div class="col-lg-4 center-text">
      <%= image_tag 'new_client_2.png', class: "image-help-3" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 center-text">
      <p>diríjase al menú sobre la izquierda bajo el titulo de Cliente se encuentra un sub ítem <%= link_to "+ Nuevo", new_customer_path() %></p>
    </div>
    <div class="col-lg-4 center-text">
      <p>En el escritorio localizara el icono Nuevo Cliente</p>
    </div>
    <div class="col-lg-4 center-text">
      <p>También se puede dar de alta un cliente al momento de ingresar
      una nueva orden de trabajo haciendo clic en el botón <i style="color:#04b404" class="fa fa-plus fa-2"></i> a la derecha del campo Cliente</p>
    </div>
  </div>

  <h3>Paso 2 - Completar los datos </h3>
  <p>Al ingresar al formulario de alta de Cliente, necesita completar los siguientes datos:
  <div class="col-lg-12">
    <%= image_tag 'client_form.png', class: "image-help-4" %>
    <ul class="list-customer-fields">
      <li>
        <strong>(*)Propietario</strong>
        Será el nombre de propietario del vehículo.
      </li>
      <li>
        <strong>Nombre Factura</strong>
        En caso de ser una empresa se ingresa el nombre a facturar.
      </li>
      <li>
        <strong>RUT</strong>
        RUT de la empresa a facturar.
      </li>
      <li>
        <strong>(*)Tel/Cel</strong>
        Número de contacto, puede ser tanto teléfono como celular.
      </li>
      <li>
        <strong>Dirección</strong>
        Dirección del propietario.
      </li>
      <li>
        <strong>Email:</strong>
        Correo electrónico del propietario.
      </li>
      (*) Campos Obligatorios
    </ul>
  </div>
  <div style="margin-top: 12px; " class="col-lg-12">
    <p>Una vez completado los datos del cliente se podrán agregar tantos vehículos como guste. Haciendo clic en <span style="color:#04b404">Agregar Vehículo</span> se desplegara la lista de campos a completar sobre el vehículo.</p>
    <%= image_tag 'vehicle_form.png', class: "image-help-5" %>
    <ul class="list-veh-fields">
      <li>
        <strong>(*)Marca</strong>
        Sera la marca del vehículo que se selecciona de una lista previamente cargada.
      </li>
      <li>
        <strong>(*)Modelo</strong>
        Modelo del vehículo.
      </li>
      <li>
        <strong>Cilindrada</strong>
        Centímetros Cúbicos del vehículo.
      </li>
      <li>
        <strong>(*)Año</strong>
        Año de fabricación del vehículo.
      </li>
      <li>
        <strong>(*)Matrícula</strong>
        Matrícula del vehículo
      </li>
      <li>
        <strong>(*)Color:</strong>
        Color del vehículo.
      </li>
      <li>
        <strong>Nº chasis:</strong>
        Número de chasis del vehículo.
      </li>
      (*) Campos Obligatorios
    </ul>
  </div>

  <h3>Paso 3 - Guardar </h3>
  <p>Luego de completar los datos del Cliente y su/s vehículo/s, se procede a guardar haciendo clic en el botón Guardar situado abajo del formulario. Si no desea guardar el cliente puede cancelar la operación haciendo clic en el botón Cancelar.</p>
  <%= image_tag 'cancel_save_buttons.png', class: "image-help-6" %>
  <div class="col-lg-12">
    <p>Se presiona el botón guardar y se realizarán las validaciones correspondiente. En caso de que faltara algún dato obligatorio se marcara con rojo y se mostrara una breve explicación del problema sobre el campo en cuestión.</p>
    <%= image_tag 'fail_form_client.png', class: "image-help-7" %>
    <p>Se procede a corregir el error y se presiona nuevamente Guardar.</p>
  </div>
  <div style="text-align: center; margin-top: 20px;" class="col-lg-12">
    <p>Si esta todo correctamente ingresado se guardara el cliente y se mostrara los datos en pantalla con un aviso que fue guardado con éxito</p>
    <%= image_tag 'client_saved.png', class: "image-help-8" %>
  </div>
  <div class="row"></div>
</div>
<div style="height: 20px"></div>
