<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= image_tag 'show.png', :class => "icon-title" %>
      <%= @car_brand.name %>
      <%= image_tag 'show.png', :class => "icon-title", :style =>"float:right" %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12" >
    <div class="show-container">
      <div class="row">
        <div class="col-md-2">
          <h4 class="show-label">Nombre:</h4>
        </div>
        <div class="col-md-2 show-info">
          <h4><%= @car_brand.name %></h4>
        </div>
      </div>
      <div class="row  row-links">
        <%= link_to (image_tag 'back.png', :class => "medium-icon", :title => "Editar"), car_brands_path %>
        <%= link_to 'Atrás', car_brands_path %> |
        <%= link_to (image_tag 'edit.png', :class => "medium-icon", :title => "Editar"), edit_car_brand_path(@car_brand)%>
        <%= link_to 'Editar', edit_car_brand_path(@car_brand) %>
      </div>
    </div>
  </div>
</div>
