<div class="row">
  <div class="panel panel-default panel-top">
    <div class="panel-body">
      <div class="row row-top">
        <div style="text-align:center" class="row">
          <%= image_tag 'logo_rojo.png', :class => "logo-budget" %>
        </div>
        <div class="title-budget">
          <h1>DETALLE ORDEN Nº <%= @work_order.id %></h1>
          <%= hidden_field_tag "work_order_id", @work_order.id %>
        </div>
      </div>
      <%= simple_form_for(@work_order, :html => { :class => "form-budg", :role => "form" }) do |f| %>
        <div class="row row-top">
          <div class="col-xs-5">
            <div class="row">
              <div class="col-md-6">
                <h4 class="show-label">Fecha Ingreso:</h4>
              </div>
              <div class="col-md-6 show-info">
                <h4><%= @work_order.date_in %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 class="show-label">Recibido por:</h4>
              </div>
              <div class="col-md-6 show-info">
                <h4><%= @work_order.received_by %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 class="show-label">Asignado a:</h4>
              </div>
              <div class="col-md-6 show-info">
                <h4><%= @work_order.worked_by %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 class="show-label">Entregado por:</h4>
              </div>
              <div class="col-md-6 show-info">
                <h4><%= @work_order.delivered_by %></h4>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-md-6">
                <h4 class="show-label">Cliente:</h4>
              </div>
              <div class="col-md-6 show-info">
                <h4><%= @work_order.customer %> <%= @work_order.customer.phone %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 class="show-label">Nombre Fac.:</h4>
              </div>
              <div class="col-md-6 show-info">
                <h4><%= @work_order.customer.invoice_name %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 class="show-label">RUT:</h4>
              </div>
              <div class="col-md-6 show-info">
                <h4><%= @work_order.customer.rut %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h4 class="show-label">Vehículo:</h4>
              </div>
              <div class="col-md-6 show-info">
                <h4><%= @work_order.vehicle %> <%= @work_order.vehicle.year %></h4>
              </div>
            </div>

          </div>
        </div>
        <div style="margin-left: 5%" class="row">
          <div class="row row-top">
            <div class="col-md-2">
            <h4 class="show-label">Trabajos Realizados:</h4>
            </div>
            <div class="col-md-8 show-info">
              <table class="table table-hover" style="border: 1px solid #ddd;" >
                <thead>
                  <tr>
                    <th width="65%" class="th-tab-show" >Tarea</th>
                    <th width="35%" class="th-tab-show">Costo</th>
                  </tr>
                </thead>
                <tbody>
                  <%= f.simple_fields_for :work_dones do |work_done| %>
                    <tr>
                      <td width="65%"><%= work_done.text_field :work, :class => "tex-field-to-label", :disabled => true  %></td>
                      <td width="35%">
                        <div class="form-group input-group frm-no-marg-bot">
                          <span class="input-group-addon">
                          <%=  work_done.collection_select :currency, CURRENCIES, :to_s, :to_s, include_blank: false, class: "curr-selc" %>
                          </span>
                          <%= work_done.text_field :price, :class => "tot-filed work-dones-field form-control more-he" %>
                          <span class="input-group-addon"> + IVA </span>
                        </div>
                      </td>
                    </tr>
                  <% end -%>
                  <tr style="background-color: #f5f5f5;">
                    <td width="65%"><h4 class="show-label">Sub Total Mano de Obra:</h4></td>
                    <td width="35%">
                      <div class="form-group input-group frm-no-marg-bot">
                        <span class="input-group-addon"> $ </span>
                        <%= f.simple_fields_for :budget do |budget| %>
                          <%= budget.text_field :subtotal_work_does, :class => "subtot-wor-do form-control sub-tot",:readonly => true %>
                        <% end -%>
                        <span class="input-group-addon"> + IVA </span>
                      </div>
                    </td>
                  </tr>
                  <tr style="background-color: #f5f5f5;">
                    <td width="65%"><h4 class="show-label">Sub Total Mano de Obra:</h4></td>
                    <td width="35%">
                      <div class="form-group input-group frm-no-marg-bot">
                        <span class="input-group-addon">U$S</span>
                        <%= f.simple_fields_for :budget do |budget| %>
                          <%= budget.text_field :subtotal_work_does_dol, :class => "subtot-wor-do-dol form-control sub-tot",:readonly => true %>
                        <% end -%>
                        <span class="input-group-addon"> + IVA </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row row-top">
            <div class="col-md-2">
              <h4 class="show-label">Repuestos:</h4>
            </div>
            <div class="col-md-8 show-info">
              <table class="table table-hover" style="border: 1px solid #ddd;">
                <thead>
                  <tr>
                    <th width="65%" class="th-tab-show">Pieza</th>
                    <th width="35%" class="th-tab-show">Costo</th>
                  </tr>
                </thead>
                <tbody>
                  <%= f.simple_fields_for :replacements do |replacement| %>
                    <tr>
                      <td width="65%"><%= replacement.text_field :name, :class => "tex-field-to-label", :disabled => true %></td>
                      <td width="35%">
                        <div class="form-group input-group frm-no-marg-bot">
                          <span class="input-group-addon">
                            <%=  replacement.collection_select :currency, CURRENCIES, :to_s, :to_s, include_blank: false, class: "curr-selc" %>
                          </span>
                          <%= replacement.text_field :price, :class => "tot-filed rep-field form-control more-he" %>
                          <span class="input-group-addon"> + IVA </span>
                        </div>
                      </td>
                    </tr>
                  <% end -%>
                  <tr  style="background-color: #f5f5f5;">
                    <td width="65%"><h4 class="show-label">Sub Total Repuestos:</h4></td>
                    <td width="35%">
                      <div class="form-group input-group frm-no-marg-bot">
                        <span class="input-group-addon">$</span>
                        <%= f.simple_fields_for :budget do |budget| %>
                          <%= budget.text_field :subtotal_rep, :class => "sub-tot-rep form-control sub-tot", :readonly => true  %>
                        <% end -%>
                        <span class="input-group-addon"> + IVA </span>
                      </div>
                    </td>
                  </tr>
                  <tr  style="background-color: #f5f5f5;">
                    <td width="65%"><h4 class="show-label">Sub Total Repuestos:</h4></td>
                    <td width="35%">
                      <div class="form-group input-group frm-no-marg-bot">
                        <span class="input-group-addon">U$S</span>
                        <%= f.simple_fields_for :budget do |budget| %>
                          <%= budget.text_field :subtotal_rep_dol, :class => "sub-tot-rep-dol form-control sub-tot-dol", :readonly => true  %>
                        <% end -%>
                        <span class="input-group-addon"> + IVA </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div style="width: 50%;float: left;" class="row row-top">
            <div class="col-md-4">
              <h4 class="show-label">SubTotal $:</h4>
            </div>
            <div style="padding-left: 13px" class="col-md-6 form-group input-group">
              <span style="width: 64px;" class="input-group-addon in-gr-ad-tot"> $ </span>
              <%= f.simple_fields_for :budget do |budget| %>
                <%= budget.text_field :subtotal, :class => "totals-style sub-total-bud-noiva form-control", :readonly => true  %>
              <% end -%>
              <span class="input-group-addon in-gr-ad-tot"></span>
            </div>

            <div class="col-md-4">
              <h4 class="show-label">Descuentos:</h4>
            </div>
            <div class="col-md-6 form-group input-group" style="padding-left: 13px">
              <span style="width: 64px;" class="input-group-addon in-gr-ad-tot">%</span>
              <%= f.simple_fields_for :budget do |budget| %>
               <%= budget.text_field :discount, :class => "discount-budget form-control" %>
              <% end -%>
              <span class="input-group-addon in-gr-ad-tot"></span>
            </div>

            <div class="col-md-4">
              <h4 class="show-label">Iva:</h4>
            </div>
            <div class="col-md-6 form-group input-group" style="padding-left: 13px">
              <span style="width: 64px;" class="input-group-addon in-gr-ad-tot"><%= Iva.value %>%</span>
                <%= f.simple_fields_for :budget do |budget| %>
                  <%= budget.text_field :iva, :id => "iva_amount", :class => "totals-style form-control", :readonly => true %>
                <span class="input-group-addon in-gr-ad-tot"></span>
                <% end -%>
            </div>

            <div class="col-md-4">
              <h4 class="show-label">Total $:</h4>
            </div>
            <div style="padding-left: 13px" class="col-md-6 form-group input-group">
              <span style="width: 64px;" class="input-group-addon in-gr-ad-tot"> $ </span>
              <%= f.simple_fields_for :budget do |budget| %>
                <%= budget.text_field :total, :class => "total-budget form-control", :readonly => true  %>
              <% end -%>
              <span class="input-group-addon in-gr-ad-tot"> IVA incl.</span>
            </div>
          </div>
          <div style="width: 50%; float: left;" class="row row-top">
            <div class="col-md-4">
              <h4 class="show-label">SubTotal U$S:</h4>
            </div>
            <div style="padding-left: 13px" class="col-md-6 form-group input-group">
              <span style="width: 64px;" class="input-group-addon in-gr-ad-tot"> U$S </span>
              <%= f.simple_fields_for :budget do |budget| %>
                <%= budget.text_field :subtotal_dol, :class => "totals-style sub-total-bud-noiva-dol form-control", :readonly => true  %>
              <% end -%>
              <span class="input-group-addon in-gr-ad-tot"></span>
            </div>

            <div class="col-md-4">
              <h4 class="show-label"></h4>
            </div>
            <div class="col-md-6 form-group input-group" style="padding-left: 13px; height: 41px;">
            </div>

            <div class="col-md-4">
              <h4 class="show-label">Iva:</h4>
            </div>
            <div class="col-md-6 form-group input-group" style="padding-left: 13px">
              <span style="width: 64px;" class="input-group-addon in-gr-ad-tot"><%= Iva.value %>%</span>
              <%= f.simple_fields_for :budget do |budget| %>
                <%= budget.text_field :iva_dol, :id => "iva_amount_dol", :class => "totals-style form-control", :readonly => true %>
                <span class="input-group-addon in-gr-ad-tot"></span>
              <% end -%>
            </div>
            <div class="col-md-4">
              <h4 class="show-label">Total U$S:</h4>
            </div>
            <div style="padding-left: 13px" class="col-md-6 form-group input-group">
              <span class="input-group-addon in-gr-ad-tot">U$S</span>
              <%= f.simple_fields_for :budget do |budget| %>
                <%= budget.text_field :total_dol, :class => "total-budget-dol form-control", :readonly => true  %>
              <% end -%>
              <span class="input-group-addon in-gr-ad-tot"> IVA incl.</span>
            </div>
          </div>
          <div class="row"></div>
          <div class="row row-top">
            <div class="col-md-2">
              <h4 class="show-label">Adelantos/Pagos:</h4>
            </div>
            <div class="col-md-8 show-info">
              <table class="table table-hover" style="border: 1px solid #ddd;" >
                <thead>
                  <tr>
                    <th><%= link_to 'Id'              %></th>
                    <th><%= link_to 'Fecha'           %></th>
                    <th><%= link_to 'Centro de Costo' %></th>
                    <th><%= link_to 'Detalle'         %></th>
                    <th><%= link_to 'Montoeda'          %></th>
                    <th><%= link_to 'Monto'           %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @box_movements.each do |box_movement| %>
                    <tr>
                      <td><%= box_movement.id %></td>
                      <td><%= box_movement.date %></td>
                      <td><%= box_movement.cost_center %></td>
                      <td><%= box_movement.desc %></td>
                      <td class="curr-type"><%= box_movement.currency %></td>
                      <td class="value-wo"><%= box_movement.value %></td>
                    </tr>
                  <% end -%>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row row-top">
            <%= hidden_field_tag "iva", Iva.value %>
            <div class="col-md-2">
              <h4 class="show-label">Total a cobrar:</h4>
            </div>
            <div style="padding-left: 13px" class="col-md-3 form-group input-group">
              <span class="input-group-addon in-gr-ad-tot"> $ </span>
              <%= f.simple_fields_for :budget do |budget| %>
                <%= budget.text_field :total_budget_pay, :class => "total-budget-pay form-control", :readonly => true  %>
              <% end -%>
              <span class="input-group-addon in-gr-ad-tot"> IVA incl.</span>
            </div>
            <div class="col-md-2">
              <h4 class="show-label">Total a cobrar:</h4>
            </div>
            <div style="padding-left: 13px" class="col-md-3 form-group input-group">
              <span class="input-group-addon in-gr-ad-tot">U$S</span>
              <%= f.simple_fields_for :budget do |budget| %>
                <%= budget.text_field :total_budget_pay_dol, :class => "total-budget-dol-pay form-control", :readonly => true  %>
              <% end -%>
              <span class="input-group-addon in-gr-ad-tot"> IVA incl</span>
            </div>
          </div>

          <div class="row  row-links-work">
            <%= link_to work_order_path(@work_order) do %>
              <%= image_tag 'back.png', :class => "medium-icon", :title => "Editar" %>
              Atrás
            <% end -%> |
            <%= image_tag 'new.png', :class => "medium-icon", :title => "Guardar" %>
            <%= f.submit "Guardar ", :class =>  "btn-save-bud" %> |
            <%= link_to "/work_orders/#{@work_order.id}/budget.pdf", :id=> "print_budget", target: "_blank" do %>
              <%= image_tag 'print.png', :class => "medium-icon", :title => "Imprimir"%>
              Imprimir
            <% end -%>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>
<div class="row">
</div>
<script type="text/javascript">
  $(document).ready(function () {
    sum_totals_bugets();
  });
</script>
