<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= image_tag 'show.png', :class => "icon-title" %>
      Orden de Trabajo
      <%= image_tag 'show.png', :class => "icon-title", :style =>"float:right" %>
    </h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @work_order.id %> - <%= @work_order.customer %> - <%= @work_order.vehicle %> - <%= @work_order.status%>
  </div>
  <div class="panel-body ">
    <div class="row row-top">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-md-7">
            <h4 class="show-label">Número:</h4>
          </div>
          <div class="col-md-5 show-info">
            <h4 id="work_order_number"><%= @work_order.id %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h4 class="show-label">Fecha Ingreso:</h4>
          </div>
          <div class="col-md-5 show-info">
            <h4><%= @work_order.date_in %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h4 class="show-label">Fecha Entrega:</h4>
          </div>
          <div class="col-md-5 show-info">
            <h4><%= @work_order.deliver_date %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h4 class="show-label">Recibido por:</h4>
          </div>
          <div class="col-md-5 show-info">
            <h4><%= @work_order.received_by %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h4 class="show-label">Asignado a:</h4>
          </div>
          <div class="col-md-5 show-info">
            <h4><%= @work_order.worked_by %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h4 class="show-label">Entregado por:</h4>
          </div>
          <div class="col-md-5 show-info">
            <h4><%= @work_order.delivered_by %></h4>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-md-3">
            <h4 class="show-label">Cliente:</h4>
          </div>
          <div class="col-md-6 show-info">
            <h4><%= @work_order.customer %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="show-label">Tel/Cel:</h4>
          </div>
          <div class="col-md-6 show-info">
            <h4><%= @work_order.customer.phone %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="show-label">Vehículo:</h4>
          </div>
          <div class="col-md-6 show-info">
            <h4><%= @work_order.vehicle %> <%= @work_order.vehicle.plate %></h4>
          </div>
        </div>
         <div class="row">
          <div class="col-md-3">
            <h4 class="show-label">Año:</h4>
          </div>
          <div class="col-md-6 show-info">
            <h4><%= @work_order.vehicle.year %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="show-label">Kilómetros:</h4>
          </div>
          <div class="col-md-6 show-info">
            <h4><%= @work_order.km %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="show-label">Combustible:</h4>
          </div>
          <div class="col-md-6 show-info">
            <h4><%= @work_order.fuel %></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="my-col-coment">
          <h4 class="show-label">Detalles del auto:</h4>
        </div>
        <div class="col-md-7 show-info">
          <h4><%= @work_order.coments %></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="my-col-coment">
          <h4 class="show-label">Obs. durante el trabajo:</h4>
        </div>
        <div class="col-md-7 show-info">
          <h4><%= @work_order.observation %></h4>
        </div>
      </div>
    </div>
    <div class="row row-top">
      <div class="my-col-tab">
        <div class="row">
          <h4 class="table-lab">Ingresos</h4>
        </div>
        <div class="row">
          <table class="table table-striped" >
            <tbody>
              <% @work_order.work_ins.each do |work_in|%>
                <tr>
                  <td><%= work_in.work %></td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
      <div class="my-col-tab">
        <div class="row">
          <h4 class="table-lab">Trabajos Realizados</h4>
        </div>
        <div class="row">
          <table id="work-done-table" class="table table-striped" >
            <tbody>
              <% @work_order.work_dones.each do |work_done|%>
                <tr>
                  <td><%= work_done.work %></td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
      <div class="my-col-tab">
        <div class="row">
          <h4 class="table-lab">Repuestos</h4>
        </div>
        <div class="row">
          <table class="table table-striped" >
            <tbody>
              <% @work_order.replacements.each do |replacement|%>
                <tr>
                  <td><%= replacement.name %></td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row  row-links-work">
      <%= link_to work_orders_path do %>
        <%= image_tag 'back.png', :class => "medium-icon", :title => "Atrás" %>
        Atrás
      <% end -%> |
      <%= link_to edit_work_order_path do %>
        <%= image_tag 'edit.png', :class => "medium-icon", :title => "Editar" %>
        Editar
      <% end -%> |
      <%= link_to "/work_orders/#{@work_order.id}.pdf", target: "_blank" do %>
        <%= image_tag 'print.png', :class => "medium-icon", :title => "Imprimir"%>
        Imprimir
      <% end -%> |
      <%= link_to budget_path(@work_order), :class => "go-budget" do %>
      <%= image_tag 'calculator.png', :class => "medium-icon", :title => "Presupuesto" %>
        Presupuesto
      <% end -%> |
      <%= link_to "#", data: { toggle:"modal" ,target: "#deliver_modal"} do %>
        Entregar
        <%= image_tag 'rigth.png', :class => "medium-icon", :title => "Entregar" %>
      <% end -%>
    </div>
  </div>
</div>
<div class="row">
</div>


<div class="modal fade" id="deliver_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Entregar Vehículo</h4>
      </div>
      <div class="modal-body">
        <%= form_tag({},{:class => 'form-horizontal my-form deli-form'}) do %>
          <%= hidden_field_tag "work_order_id", @work_order.id %>
          <div class="form-group">
            <label for="work_order_delivered_by" class="string optional col-sm-4 control-label">Entregado por</label>
            <div class="col-xs-4">
              <%= select("work_order", "delivered_by_id", @users.collect {|u| [ "#{u.name}", u.id ] }, :prompt => "Seleccione..", :class => "form-control") %>
            </div>
          </div>
          <%= csrf_meta_tag %>
          <script type="text/javascript">
            $(document).ready(function () {
              $("#work_order_delivered_by_id").chosen({
               width: "100%"
              });
            });
          </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Cancelar</button>
        <button id="deliver_wo" type="button" class="btn btn-success">Guardar</button>
      </div>
        <% end %>
    </div>
  </div>
</div>

