<!DOCTYPE html>
<html>
<head>
  <title>Automecanica Palermo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "/layouts/menu" %>
  <div id="page-wrapper" style="min-height: 850px ">
    <%= flash_notifications -%>
    <%= yield %>
  </div>
  <%= render partial: "/layouts/footer" %>
</body>
</html>
